body{
    background-color:rgb(237, 101, 3) ;
    color: black;
    margin: 0px;
    font-family: sans-serif;
}
header{
    border-bottom: ridge 4px rgb(150, 248, 2);
    padding: 10px;
    font-size: 32px;
    color: yellow;
}
section{
    background: blue;
    padding-bottom: 80px;
    padding-top:80px ;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}